# Assignment 3

### Write a function to count the number 4 in a given list.

In [1]:
def countfours(lst):
    c=0
    for num in lst:
        if (num == 4):
            c+=1
    return c

In [2]:
numlist=[1, 4, 4, 5, 3, 4]
countfours(numlist)

3

### write a  function to check whether a number is divisible by another number.

In [3]:
def divOrNot(num1, num2):
    if (num1 % num2 == 0):
        return True
    else:
        return False

In [4]:
divOrNot(10,2)

True

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [5]:
def maxNmin(seq):
    return max(seq), min(seq)

In [6]:
maxNmin([1, -2, -7, 5, 15])

(15, -7)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [7]:
def common(lst1, lst2):
    set1=set(lst1)
    set2=set(lst2)
    if (len(set1.intersection(set2)) != 0):
        return True
    else:
        return False

In [8]:
common(['a', 'b', 'c'], ['c', 'd'])

True

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [11]:
def getfact():
    num=int(input('Enter a non-negative integer to get its factorial\n'))
    fact=1
    for i in range(1, num+1):
        fact *=i
    return fact

In [16]:
getfact()

Enter a non-negative integer to get its factorial
4

24

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [17]:
def inrange(num, minimum, maximum):
    if num in range(minimum, maximum+1):
        return True
    else:
        return False

In [18]:
inrange(5, 3, 11)

True

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [21]:
def multiTable(num):
    for i in range(1,11):
        print(f"{num} X {i} = {num*i}")

In [22]:
multiTable(5)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [23]:
def lesser_of_two_evens(n1, n2):
    if (n1 % 2 == 0 and n2 % 2 == 0):
        return min(n1,n2)
    else:
        return max(n1, n2)

In [24]:
print(lesser_of_two_evens(2,4))
print(lesser_of_two_evens(2,5))

2
5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [28]:
def animal_crackers(st):
    st_list=st.split()
    if (st_list[0][0].lower() == st_list[1][0].lower()):
        return True
    else:
        return False

In [30]:
print(animal_crackers('Levelheaded Llama'))
print(animal_crackers('Crazy Kangaroo'))

True
False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [31]:
def makes_twenty(n1, n2):
    if (n1==20 or n2==20 or n1+n2==20):
        return True
    else:
        return False

In [32]:
print(makes_twenty(20,10))
print(makes_twenty(12,8))
print(makes_twenty(2,3))

True
True
False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [33]:
def almost_there(n):
    if (abs(n-100)<=10 or abs(n-200)<=10):
        return True
    else:
        return False

In [34]:
print(almost_there(90))
print(almost_there(104))
print(almost_there(150))
print(almost_there(209))

True
True
False
True

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [35]:
def blackjack(n1, n2, n3):
    if (n1+n2+n3 <=21):
        return (n1+n2+n3)
    else:
        if (11 in [n1, n2, n3]):
            return (n1+n2+n3-10)
        else:
            return 'BUST'

In [36]:
print(blackjack(5,6,7))
print(blackjack(9,9,9))
print(blackjack(9,9,11))

18
BUST
19